<!doctype html>
<title>bb blog</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Oxygen+Mono" rel="stylesheet">
<div class=page>
  <h1><a class="no-underline" href="{{ url_for('refresh') }}">bb blog</a></h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  <div class="bio">
  	<p>Welcome to my blog!</p>
  </div>
  {% block body %}{% endblock %}
</div>